* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.navbar {
    overflow: hidden;
    background-color: #006747;
    font-family: Arial;
    padding-left: 150px;
    padding-right: 50px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
}

.dropdown {
    float: left;
    overflow: hidden;
  
}

.dropdown .dropbtn {
    font-size: 16px;  
    font-weight:bold;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #006747;
}

.dropdown-content {
    display: none;
    position: absolute;
    overflow: hidden;
    padding-left: 150px;
    padding-right:150px;
    width: 100%;
    left: 0;
   
    z-index: 1;
}

.dropdown-content .header {
    background: #006747;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width:25%;
    padding: 10px;
    background-color: #006747;
    height: 300px;
}

.column a {
    float: none;
    color: black;
    padding: 4px;
    text-decoration: none;
    display: block;
    font-size: 75%;
    text-align: left;
}

.column a:hover {
    background-color: #006747;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}